<p>listado works!</p>
<p>Tamano de la pagina = {{tam}}</p>
<p>Pagina = {{pag}}</p>
<p>Orden = {{ord}}</p>

<div class="container">
  <div class="row">
    <table class="table table-striped col-6">
      <thead class="thead-dark">
        <tr>
          <td>Nombre</td>
          <td>Apellido</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let persona of personas">
          <td>{{persona.nombre}}</td>
          <td>{{persona.apellido}}</td>
          <td><button class="btn btn-warning" (click)="editar()">Editar</button></td>
        </tr>
      </tbody>
      <button (click)="cambiarPagina(1)">1</button>
      <button (click)="cambiarPagina(2)">2</button>
      <button (click)="cambiarPagina(3)">3</button>
    </table>

    <div class="d-flex flex-column col-6">
      <div class="col-12">
        <router-outlet></router-outlet>
        <!-- <router-outlet name="superior"></router-outlet> -->
      </div>
      <!--       <div class="col-12">
        <router-outlet name="inferior"></router-outlet>
      </div> -->
    </div>
  </div>
</div>
